body {
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-size: 20px;
}

h1 {
    font-size: 120%;
    margin: 10px 0;
}

select, input {
    height: 26px;
    margin: 6px 0;
}

.input-group {
    clear: both;
    position: relative;
    text-align: left;
    height: 40px;
}
label, select {
    display: inline-block;
    font-size: 20px;
}
.input-group label {
    width: 60px;
    text-align: right;
}
.input-group select {
    width: 200px;
    text-align: left;
}
#reverse {
    position: absolute;
    top: 24px;
    right: 0px;
    background: url("switcher.png") no-repeat center;
    background-size: 32px 32px;
    height: 32px;
    width: 32px;
    border: none;
    padding: 0;
}

#inputs, #info, #result {
    margin: 10px 0;
}

.trip {
    margin: 5px 0;
}

footer {
    color: grey;
}
