body {
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-size: 18px;
}

h1 {
    font-size: 120%;
    margin: 10px 0;
}

select, input {
    font-size: 100%;
    height: 26px;
    margin: 6px 0;
}

.input-group {
    clear: both;
}
.input-group * {
    display: inline-block;
}
.input-group label {
    width: 20%;
    text-align: right;
}
.input-group select {
    width: 60%;
    text-align: left;
}
#reverse {
    float: right;
    font-size: 80%;
}

#inputs, #info, #result {
    margin: 10px 0;
}

.trip {
    margin: 5px 0;
}

footer {
    color: grey;
}
