body {
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-size: 20px;
}

h1 {
    font-size: 120%;
    margin: 10px 0;
}

select, input {
    height: 26px;
    margin: 6px 0;
}

.input-group {
    clear: both;
    position: relative;
    text-align: left;
    height: 40px;
}
label, select {
    display: inline-block;
    font-size: 20px;
}
.input-group label {
    width: 60px;
    text-align: right;
}
.input-group select {
    width: 200px;
    text-align: left;
}
#reverse {
    position: absolute;
    top: 0;
    right: 0;
    background: url("switcher.png") no-repeat center;
    background-size: 20px;
    height: 80px;
    width: 32px;
    border: none;
    padding: 0;
    opacity: 0.7;
    z-index: 100;
}
#reverse:hover {
    opacity: 1;
}
#reverse:focus {
    outline: none;
}

#inputs, #result {
    margin: 10px 0;
}

#info, .trip {
    margin: 5px 0;
    font-size: 120%;
}

footer {
    color: grey;
}
.copyright {
    font-size: 50%;
}
