body {
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-size: 20px;
}

h1 {
    font-size: 120%;
    margin: 10px 0;
}

/* rComplete */
.complete-hint, .complete-input, .complete-dropdown {
    font-size: 16px;
}
.complete-hint, .complete-input {
    border: 1px solid #888;
    border-radius: 8px;
    outline: none;
    padding: 0.3em 0.5em;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.complete-dropdown {
    border: 1px solid #bbb;
    border-radius: 10px;
    margin: 10px 0;
    width: 100%;
    text-align: left;
    z-index: 100;
    background-color: white;
    position: absolute;
}
.complete-dropdown-item {
    color: #444;
    padding: 0.3em 0.5em;
    cursor: default;
}
.complete-dropdown-item+.complete-dropdown-item {
    border-top: 1px solid #888;
}
.complete-dropdown-item.hovered {
    color: #1E98FF;
}

/* Components */
.input-group {
    clear: both;
    position: relative;
    text-align: left;
    height: 40px;
}
.input-label, .location {
    display: inline-block;
    font-size: 20px;
}
.input-group .input-label {
    width: 60px;
    text-align: right;
}
.input-group .location {
    width: 200px;
    text-align: left;
}
.cancel {
    position: absolute;
    top: 0;
    right: 0;
    width: 1em;
    height: 1em;
    cursor: default;
    font-family: sans-serif;
    color: #888;
}
.when {
    color: #888;
    font-size: 16px;
    padding: 0 0.3em;
}
.when.selected {
    color: black;
}
.when+.when {
    border-left: 1px solid #e3e3e3;
}
.when input {
    display: none;
}
#reverse {
    position: absolute;
    bottom: 0;
    right: 0;
    background: url("../images/switcher.png") no-repeat center;
    background-size: 20px;
    height: 80px;
    width: 32px;
    border: none;
    padding: 0;
    opacity: 0.7;
    z-index: 100;
}
#reverse:hover {
    opacity: 1;
}
#reverse:focus {
    outline: none;
}

#inputs, #result {
    margin: 10px 0;
}

#info, .trip {
    margin: 5px 0;
    font-size: 120%;
}

/* Footer */
footer {
    color: grey;
    margin-bottom: 5em;
}
.copyright {
    font-size: 50%;
}
