html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

select:focus {
    outline-color: #3056ff;
}

body {
    min-width: 320px;
    max-width: 440px;
    margin: auto;
    text-align: center;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 20px;
}


/* Components */
.header-group {
    border-bottom: 1px #ECECEC solid;
}
.title {
    font-size: 120%;
    font-weight: 100;
    margin-top: 10px;
    margin-bottom: 0;
    padding: 5px 0;
}
.from, .to {
    position: relative;
    text-align: left;
    padding: 15px 0;
    min-height: 70px;
}
.from {
  border-bottom: 0;
}

/* Inputs */
.input-label, .location {
    display: inline-block;
    font-size: 20px;
    line-height: 30px;
    color: #959595;
    vertical-align: middle;
}
.input-label {
    width: 60px;
    margin-left: 15px;
    margin-right: 20px;
    text-align: right;
}
.location {
    width: 180px;
    text-align: left;
    position: relative;
}

/* dropdowns */
select {
    font-size: 17px;
    -webkit-appearance: none;
    background-color: #eee;
    cursor: pointer;
    line-height: 20px;
    padding: 9.6px 16px;
    width: 100%;
    width: calc(100% + 10px);
    border-radius: 4px;
}

.location:before, .location:after {
    content: '';
    display: block;
    position: absolute;
    pointer-events: none;
    border: 1px solid transparent;
    width: 0;
    height: 0;
    right: 0px;
}
.location:before {
  bottom: 55%;
  border-width: 0 6.5px 8px 6.5px;
  border-bottom-color: #a9a9a9;
}
.location:after {
  border-width: 8px 6.5px 0 6.5px;
  border-top-color: #a9a9a9;
  top: 55%;
}



/* Reverse button */
#reverse {
    position: absolute;
    bottom: 0;
    left: 300px;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEgAAABICAQAAAD/5HvMAAAAqklEQVR4Ae3WRwKCQBBE0To5eYYjm22XZjI9hv9rZ3wqqPrKiMhuBggQIECAAAECBAjQ14EA5To+7Bb0eF0uhyrZwFVyqvLnzCdVcq7s5JRKUJmKU6joJvlyys4nKZ44hQdnOKnwPJeqTpIDp5Y9rO4kuXO6SStzGtmbNUpQkHUsJOWkJ0XZgEU51coGrpVDubYPuyU8XpfzfxkQIECAAAECBAgQIEDOEdEFZ84Z0079TZ0AAAAASUVORK5CYII=");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 41px;
    height: 140px;
    width: 50px;
    border: none;
    padding: 0;
    opacity: 0.2;
    z-index: 100;
    cursor: pointer;
    background-color: transparent;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
#reverse:active  {
    opacity: 0.5;
}
#reverse:focus {
    outline: none;
}

/* When */
.when {
    height: 60px;
    margin: 0 auto;
    max-width: 100%;
}
.when-button {
    color: #959595;
    display: inline;
    padding: 23px 0; /* (height - font-size) / 2 */
    margin: 0;
    background: none;
    border: none;
    outline: none;
}
.when-button.selected {
    color: black;
    font-weight: 400;
}
.when .text {
    display: block;
    width: 75px;
    font-size: 14px;
    padding: 0 5px;
    text-align: center;
}
.when-button+.when-button .text {
    border-left: 1px solid #e3e3e3;
}

/* Results */
#info {
    font-weight: 400;
    margin: 20px 0;
}
.trip {
    font-weight: 400;
    font-size: 24px;
    border-bottom: solid 1px #CCC;
    padding: 16px 0;
}
/* .trip:first-child {
    border-top: solid 1px #CCC;
} */
.trip:nth-child(even) {
    background: #f9f9f9;
}
.trip * {
    line-height: 24px;
    vertical-align: middle;
    width: 100px;
    display: inline-block;
}

.trip span small {
    color: #b7b7b7;
    margin-left: 2px;
    font-size: 70%;
    display: inline;
}
.departure {
    text-align: right;
}
.arrival {
    text-align: left;
}
.duration {
    font-weight: 100;
    font-size: 14px;
    margin: 0 10px;
    color: #888;
    width: 58px;
    display: inline-block;
    position: relative;
}

.durationbar {
    border-bottom-width: 3px;
    border-bottom-style: solid;
    display: inline-block;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

/* Footer */
footer {
    color: grey;
    margin-top: 30px;
    margin-bottom: 5em;
}
.copyright {
    font-size: 50%;
}
