body {
    max-width: 320px;
    margin: auto;
    text-align: center;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 20px;
}

/* rComplete */
.complete-hint, .complete-input, .complete-dropdown {
    font-size: 16px;
}
.complete-hint, .complete-input {
    border: 1px solid #888;
    border-radius: 8px;
    outline: none;
    padding: 0.3em 0.5em;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.complete-dropdown {
    border: 1px solid #bbb;
    border-radius: 10px;
    margin: 10px 0;
    width: 100%;
    text-align: left;
    z-index: 100;
    background-color: white;
    position: absolute;
}
.complete-dropdown-item {
    color: #444;
    padding: 0.3em 0.5em;
    cursor: default;
}
.complete-dropdown-item+.complete-dropdown-item {
    border-top: 1px solid #888;
}
.complete-dropdown-item.hovered {
    color: #1E98FF;
}

/* Components */
h1.header-group {
    font-size: 120%;
    font-weight: 100;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}
.from, .to, .when {
    position: relative;
    text-align: left;
    border-bottom: 1px #ECECEC solid;
}
.from, .to {
    padding: 15px 0;
}

/* Inputs */
.input-label, .location {
    display: inline-block;
    font-size: 20px;
    height: 30px;
    line-height: 30px;
}
.input-label {
    width: 60px;
    text-align: right;
}
.location {
    width: 200px;
    text-align: left;
}
.cancel {
    position: absolute;
    top: 0;
    right: 0;
    width: 1em;
    height: 1em;
    cursor: default;
    font-family: sans-serif;
    color: #888;
}

/* Reverse button */
#reverse {
    position: absolute;
    bottom: 0;
    right: 0;
    background: url("../images/switcher.png") no-repeat center;
    background-size: 20px;
    height: 120px;
    width: 40px;
    border: none;
    padding: 0;
    opacity: 0.7;
    z-index: 100;
}
#reverse:hover {
    opacity: 1;
}
#reverse:focus {
    outline: none;
}

/* When */
.when {
    height: 60px;
}
.when-label {
    color: #888;
    font-size: 15px;
    display: block;
    float: left;
    padding: 15px 0;
}
.when-label.selected {
    color: black;
    font-weight: 400;
}
.when .text {
    padding: 0 8px;
    line-height: 30px;
}
.when-label+.when-label .text {
    border-left: 1px solid #e3e3e3;
}
input[name=when] {
    display: none;
}

/* Results */
#info {
    font-weight: 400;
    margin: 10px 0;
    margin-top: 20px;
}
.trip {
    font-size: 120%;
    margin: 5px 0;
}

/* Footer */
footer {
    color: grey;
    margin-bottom: 5em;
}
.copyright {
    font-size: 50%;
}
