html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    min-width: 320px;
    max-width: 800px;
    margin: auto;
    text-align: center;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 20px;
}

/* rComplete */
.complete-hint, .complete-input, .complete-dropdown {
    font-size: 15px;
}
.complete-hint, .complete-input {
    border: none;
    outline: none;
    padding: 0.3em 0.5em;
}
.complete-dropdown {
    border: 1px solid #bbb;
    border-radius: 10px;
    margin: 10px 0;
    width: 100%;
    z-index: 100;
    background-color: white;
    position: absolute;
}
.complete-dropdown-item {
    color: #444;
    padding: 0.3em 0.5em;
    cursor: default;
}
.complete-dropdown-item+.complete-dropdown-item {
    border-top: 1px solid #888;
}
.complete-dropdown-item.hovered {
    color: #1E98FF;
}

/* Components */
.header-group {
    border-bottom: 1px #ECECEC solid;
}
.title {
    font-size: 120%;
    font-weight: 100;
    margin-top: 10px;
    margin-bottom: 0;
    padding: 5px 0;
}
.from, .to {
    position: relative;
    text-align: left;
    padding: 15px 0;
    min-height: 70px;
}

/* Inputs */
.input-label, .location {
    display: inline-block;
    font-size: 20px;
    height: 30px;
    line-height: 30px;
    color: #959595;
    vertical-align: top;
}
.input-label {
    width: 60px;
    margin-left: 15px;
    margin-right: 20px;
    text-align: right;
}
.location {
    width: 160px;
    text-align: left;
}
.cancel {
    position: absolute;
    top: 0;
    right: 0;
    width: 1em;
    height: 1em;
    cursor: default;
    font-family: sans-serif;
    color: #888;
}

/* Reverse button */
#reverse {
    position: absolute;
    bottom: 0;
    right: 10px;
    background: url("../images/switcher.png") no-repeat center;
    background-size: 20px;
    height: 140px;
    width: 50px;
    border: none;
    padding: 0;
    opacity: 0.5;
    z-index: 100;
    cursor: pointer;
}
#reverse:hover {
    opacity: 0.6;
}
#reverse:focus {
    outline: none;
}

/* When */
.when {
    height: 60px;
    width: 303px; /* 75 * 4 + 3 = 303 */
    margin: 0 auto;
}
.when-button {
    color: #959595;
    float: left;
    padding: 23px 0; /* (height - font-size) / 2 */
    margin: 0;
    background: none;
    border: none;
    outline: none;
}
.when-button.selected {
    color: black;
    font-weight: 400;
}
.when .text {
    display: block;
    width: 65px; /* (320 - 3*1) / 4 - 5 * 2 = 69px */
    font-size: 14px;
    padding: 0 5px;
}
.when-button+.when-button .text {
    border-left: 1px solid #e3e3e3;
}

/* Results */
#info {
    font-weight: 400;
    margin: 20px 0;
}
.trip {
    font-weight: 400;
    font-size: 24px;
    border-bottom: solid 1px #CCC;
    padding: 16px 0;
}
.trip:nth-child(odd) {
    background: #f9f9f9;
}
.trip * {
    line-height: 24px;
    vertical-align: middle;
}
.departure {
    text-align: right;
}
.arrival {
    text-align: left;
}
.duration {
    font-weight: 100;
    font-size: 14px;
    margin: 0 10px;
    color: #888;
    width: 50px;
    display: inline-block;
    position: relative;
}

.durationbar {
    border-bottom-width: 3px;
    border-bottom-style: solid;
    display: inline-block;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

/* Footer */
footer {
    color: grey;
    margin-top: 30px;
    margin-bottom: 5em;
}
.copyright {
    font-size: 50%;
}
